<!doctype html>
<title>{% block title %}{% endblock %} Fit My Vibe </title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="google-colors">
                <h1 id="google-3">fit my vibe</h1>
            </div>
            <h3>What style are you searching for? Enter your top keyword:</h3>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Enter a style keyword (vintage, streetwear, athleisure, etc.)" id="style-keyword"
                    onkeyup="filterText()">
            </div>
            <h3>What type of clothing are you searching for?</h3>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Enter a category of clothing (jackets, skirts, shorts, etc.)" id="clothing-category"
                    onkeyup="filterText()">
            </div>
            <h3>What is your budget?</h3>
            <div class="input-box" onclick="sendFocus()">
                <span id="min-budget-value">$1</span>
                <input type="range" min="1" max="250" id="budget-slider" oninput="updateBudgetValue(this.value)">
                <span id="max-budget-value">$250</span>
            </div>
            <br>
            <span id="budget-value">$125</span>
        </div>
        <div id="answer-box">

        </div>
    </div>

    <script>

        function answerBoxTemplate(title, titleDesc) {
            return `<div class=''>
                <h3 class='episode-title'>${title}</h3>
                <p class='episode-desc'>${titleDesc}</p>
            </div>`
        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        function filterText() {
            document.getElementById("answer-box").innerHTML = "";
            const style = document.getElementById("style-keyword").value;
            const category = document.getElementById("clothing-category").value;
            const budget = document.getElementById("budget-slider").value;

            console.log(`Style: ${style}, Category: ${category}, Budget: ${budget}`);
            fetch("/articles?" + new URLSearchParams({
                style: style,
                category: category,
                budget: budget
            }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {

                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxTemplate(row.name, row.id)
                    document.getElementById("answer-box").appendChild(tempDiv)
                }));
        }

        function updateBudgetValue(value) {
            document.getElementById('budget-value').innerText = `$${value}`;
            filterText();
        }

    </script>
</body>